<ion-content [fullscreen]="true">
  <div *ngFor="let user of usuario">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title slot="end" style="color: black;"> TeLlevoApp</ion-title>
          <ion-img style="width: 50px;height: 50px;" src="assets/icon/caballo.png" slot="start" class="ms-3"></ion-img>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="rounded mt-5">
          <ion-item *ngFor="let menu of componentes">
            <ion-button class="my-3" shape="round" size="default" routerLink="{{menu.redirecTo}}">
              <ion-icon class="me-3 mb-1" name="{{menu.icon}}"></ion-icon> {{menu.name}}
            </ion-button>
          </ion-item>

          <div>
            <div *ngIf="user.vehiculo=='Si' else Pasajero">
              <ion-item>
                <ion-button class="my-3" shape="round" size="default" routerLink="/vehiculo">
                  <ion-icon class="me-3 mb-1" name="car-outline"></ion-icon>Mi Vehiculo
                </ion-button>
              </ion-item>
            </div>
          </div>

          <ng-template #Pasajero>
            <ion-item>
              <ion-button class="my-3" shape="round" size="default" routerLink="/buscar-vehiculo">
                <ion-icon class="me-3 mb-1" name="car-outline"></ion-icon>Buscar Viaje
              </ion-button>
            </ion-item>
          </ng-template>

          <ion-item>
            <ion-button class="my-3" shape="round" size="default" (click)="cerrarSesion()">
              <ion-icon class="me-3 mb-1" name="arrow-back-outline"></ion-icon>Cerrar Sesion
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button style="color: black;"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>

    <div *ngIf="user.vehiculo=='No' else conductor">
      <ion-title class="mt-3 h1 text-center">Viajes Disponibles</ion-title>

      <div *ngFor="let i of vehiculos">

        <ion-card class="mt-4 pb-3" class="text-center">
          <ion-card-header>
            <ion-title>
              <h1>Patente {{i.patente}}</h1>
            </ion-title>
          </ion-card-header>

          <ion-card-content>
            <ion-text>
              <h3>
                Marca: {{i.marca}} <br>
                Modelo: {{i.modelo}} <br>
                Color: {{i.color}} <br>
                Asientos Disponibles: {{i.asientosDisponibles}} <br>
                Precio Del Viaje: {{i.precio}}
              </h3>
            </ion-text>
            <ion-img class="mt-4" src="{{i.foto}}"></ion-img>

            <ion-button class="mt-3" (click)="tomarViaje(i.patente,i.asientosDisponibles)" [disabled]="user.SeleccionViaje=='Si'">Tomar Viaje</ion-button>
            <ion-button class="mt-3" (click)="verRuta(i.patente)">Ver
              Ruta</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </div>

  <ng-template #conductor>
    <div *ngFor="let i of usuarioVehiculo">
      <ion-card class="mt-4 pb-3" class="text-center">
        <ion-card-content>
          <h1 class="mt-2">Lista De Pasajeros</h1>

          <ion-text *ngFor="let Pasajero of i.listaDePasajeros" class="mt-3 mb-2">
            <div *ngIf="Pasajero != 0 else Vacio">
              <h3>{{Pasajero.nombre}}</h3>
              <h3>Contacto:  {{Pasajero.contacto}}</h3>
              <h3>RUT: {{Pasajero.rut}}</h3>
              <hr>
            </div>
            <ng-template #Vacio>
              <h3>No Hay Pasajeros</h3>
            </ng-template>
            <ion-button>Terminar Viaje</ion-button>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>