@media(min-width:360px) {
    ion-content {
        --background: rgb(255, 255, 255);
    }
    ion-list {
        background-color: transparent;
        
    }
    img{
        margin-top: 285px;
        animation: logo 4s infinite;
    }
    ion-item{
        --background: transparent;
        color: black;
    }
    ion-title{
        font-family: 'Italiana', serif;
        color: black;
    }
    
    ion-button{
        --background:rgba(255, 255, 255, 0.979);
        color: black;
    }
    
    #mensaje{
        box-shadow: 0px 0px 10px black;

        animation-name: eliminar;
        animation-duration: 4s;
        opacity: 0;
        @keyframes eliminar{
            0%{ 
                opacity: 0;
            }

            50%{
                opacity: 1;
            }

            100%{
                opacity: 0;
            }
        }
    }
    span{
        color: black;
    }

    #cont{
        position: absolute;
        margin-top: 190px;
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.619);
        animation: cont 2.5s;
        padding-top: 25px ;
        padding-bottom: 50px ;
    }

    @keyframes logo{
        0%{
            opacity: 0.5;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0.5;
        }
    }

    @keyframes cont{
        0%{
            opacity: 0;
            margin-left: 500px;
        }

        100%{
            opacity: 1;
            margin-left: 0px;
        }
    }

    h2{
        text-align: center;
        font-family: 'Italiana', serif;
        font-size: 60px;
        color: white;
        text-shadow: 0px 0px 5px white;    
    }


}