<ion-content [fullscreen]="true" >
  <div  *ngFor="let user of usuario" class="text-center mt-3" >
    <ion-title class="mb-2"><h2>TeLlevoApp</h2></ion-title>
    <ion-title class="mb-4">Bienvenid@ {{user.nombre}} {{user.apellido}}</ion-title>
  
    <div *ngFor="let menu of componentes">
        <ion-button shape="round" size="default" routerLink="{{menu.redirecTo}}" class="my-3">
          <ion-icon class="me-3 mb-1" name="{{menu.icon}}"></ion-icon> <span>{{menu.name}}</span>
        </ion-button>
    </div>

    <div *ngIf="user.vehiculo=='Si' else Pasajero">
        <ion-button class="my-3" shape="round" size="default" routerLink="/vehiculo">
          <ion-icon class="me-3 mb-1" name="car-outline"></ion-icon>Mi Vehiculo
        </ion-button><br>
        <ion-button class="my-3" shape="round" size="default" routerLink="/buscar-vehiculo">
          <ion-icon class="me-3 mb-1" name="car-outline"></ion-icon>Pasajeros
        </ion-button>
    </div>

    <ng-template class="text-center "#Pasajero>
        <ion-button class="my-3" shape="round" size="default" routerLink="/buscar-vehiculo" >
          <ion-icon class="me-3 mb-1" name="car-outline"></ion-icon>Viajes
        </ion-button><br>
    </ng-template>
    <ion-button class="my-3" shape="round" size="default" (click)="cerrarSesion()">
      <ion-icon class="me-3 mb-1" name="arrow-back-outline"></ion-icon>Cerrar Sesion
    </ion-button>
  </div>

</ion-content>